<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!-- queryParams is a bindable property of the routerLink directive 
        it will create query parameters on the link like ?allowEdit=1
        additional key/value pairs will be separated with &
        fragment is another bindable property of the routerLink directive
        it will add #value at the end of the URL; #loading for this example
      -->
      <!-- update to use dynamic data -->
      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{allowEdit: '1'}"
        fragment="loading"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
      <button class="btn btn-primary" (click)="onReload()">Reload Page</button>
      <app-edit-server></app-edit-server>
    <hr>
    <!-- <app-server></app-server> -->
  </div>
</div>

